body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 0 0 5% 5%;
}

header {
    margin: 125px 0 75px 0;
}

h1 {
    font-weight: normal;
    text-transform: lowercase;
    font-size: 1.2em;
    margin-bottom: 0;
}

#new-bios {
    background-color: #eee;
    font-size: .5em;
    padding: 3px 12px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
}

#new-bios:hover, #new-bios:focus {
    background-color: #CCFF66;
}

.person h3 {
    font-size: .8em;
    margin-bottom: 0;
}

.people-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.person {
    padding: 5%;
    flex-basis: 20%;
    font-size: .8em;
}

.job-title {
    font-size: .8em;
}

.circle {
    border-radius: 50%;
    width: 130px;
    height: 130px;
}
